In [1]:
student_name = "Alice"
print(f"私の名前は{student_name}です。")

私の名前はAliceです。

In [2]:
student_name = "Alice"
student_age = 19
print("私は{1}歳で、名前は{0}です。".format(student_name, student_age))

私は19歳で、名前はAliceです。

In [3]:
print("学生の年齢", student_age, sep=":")

学生の年齢:19

In [5]:
user_ids = ("A081", "A114", "A186")
user_id1, user_id2, user_id3 = user_ids
print (user_id1)
print (user_id1)
print (user_id2)

A081
A081
A114

In [6]:
for i in range(3):
    print (user_ids[i])

A081
A114
A186

In [7]:
monthly_average_temperatures = [6, 7, 9, 15, 20, 22, 27, 26, 23, 17, 12, 7]
for i, temperature in enumerate(monthly_average_temperatures):
  print("{}月の平均気温は{}度です。".format(i+1, temperature))

1月の平均気温は6度です。
2月の平均気温は7度です。
3月の平均気温は9度です。
4月の平均気温は15度です。
5月の平均気温は20度です。
6月の平均気温は22度です。
7月の平均気温は27度です。
8月の平均気温は26度です。
9月の平均気温は23度です。
10月の平均気温は17度です。
11月の平均気温は12度です。
12月の平均気温は7度です。

In [10]:
MONTH_NUMBERS = list(range(1,13))
monthly_average_temperatures = [6, 7, 9, 15, 20, 22, 27, 26, 23, 17, 12, 7]
for month_number, temperature in zip(MONTH_NUMBERS, monthly_average_temperatures):
  print("{} is {}".format(month_number, temperature))

1 is 6
2 is 7
3 is 9
4 is 15
5 is 20
6 is 22
7 is 27
8 is 26
9 is 23
10 is 17
11 is 12
12 is 7